* {
  box-sizing: border-box;
}
body {
 margin: 0;
  padding: 0;
  outline: 0;
  overflow-x: hidden;
}
.colorr{
	background: rgb(244,240,179);
    background: linear-gradient(0deg, rgba(255, 217, 109, 0.9) 0%, rgba(247,245,236,1) 80%);
    height:auto;
    padding-bottom: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.gal{
	width:30%;
	height: auto;
}
.gallery img {
  
      width: 100%;
    height: auto;
}

.gallery1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  position: relative;
}

.gallery1 .gal {
    width: 30%;
    height: auto;;
}
.gallery1 .gal1{
	
    width: 68%;
    height: auto;
}
.gallery1 img {
  position: absolute;
      width: 30%;
   
    height: auto;
}
.gallery1 .gal1 img {
	position: relative;
    width: 98%;
    height: auto;
}
.gal1 p{
	position: relative;
	font-size: 14px;
}
.para{
	margin-left: 20px;
	width: 92%;
}
.para p{
	position: relative;
	font-size: 14px;
}

.gallery2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.gallery2 .para1 {
  margin-left: auto;
  margin-right: auto;
}
.gallery2 .gal {
    margin-left: 20px;
    width: 80%;
    height: auto;
    position: relative;
}
.gallery2 img {
    position: relative;
    width: 80%;
   
    height: auto;
}
.gallery2 span {
    position: relative;
    background-color: red;
    width: 91%;
    height: 2px;
    margin-left: 4px;
}
.gallery3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  position: relative;
}
.gallery3 .para1 {
	display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
}
.para2 {
    position: relative;
    width: 97%;
    margin-left: 8px;
    text-align: center;
}
.para2 span{
	border-right: 2px solid red;

}

.para1 .red{
	background-color: #ff0000b5;
	width:99%;
	height:100px;
	margin-left: 8px

}
.red {
    background-color: #ff0000b5;
    width: 99%;
    height: auto;
    margin-left: 8px;
}
.gallery4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  position: relative;
  color: white;
  font-size: 18px;
}
.gallery4 .para1 {
	display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  margin-top: 30px;
}
@media only screen and (max-width: 500px) {
	.gallery1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.gallery1 img {
    position: relative;
    width: 100%;
    height: auto;
}
.gallery1 .gal {
    width: 23%;
    height: auto;
}

.gallery1 .gal1 {
    width: 95%;
    height: auto;
    margin-left: 10px;
}
.gallery2 .para1 {
    width: 82%;
    }
.gallery2 .gal {
    
    width: 87%;
    height: auto;
    position: relative;
}
.gallery2 img {
    position: relative;
    width: 85%;
    height: auto;
}
.gallery3 .para1 {
	display: flex;
  margin-left: auto;
  margin-right: auto;
 font-size: 14px;
  width: 90%;
}
.para2 p{
	font-size: 11px;
  }
  .red {
    background-color: #ff0000b5;
    width: 96%;
    height: auto;
    margin-left: 8px;
}
}
